.hero {
	background: #000;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.hero__inner {
	padding: $smaller-spacing;
	width: 100%;
	max-width: 24rem;
	form {
		input {
			border: 0;
		}
		margin: 0 auto;
		width:100%;
		.form-group {
			flex: 1;
			margin-bottom: $small-spacing/2;
		}
		select {
			color: #000;
			margin: 0;
		}
	}
	hr {
		border-color: #fff;
		margin-bottom: $small-spacing*1.5;
	}
}
.hero__header {
	display: block;
	max-width: 24em;
	margin: 0 auto;
	// margin-bottom: $small-spacing*1.5;
	text-align: center;
	h1 {
		font-weight: bold;
		font-size: modular-scale(2);
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: $smaller-spacing/2;
	}
	a {
		margin: 0 $smaller-spacing/2;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
.hero__img {
	max-width: 10em;
	margin: 0 auto;
	@include bp(small-up) {
		max-width:100%;
	}
}
.hero__nav {
	display: none;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: $small-spacing;
	a {
		margin: 0 $smaller-spacing/2;
	}
}